<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
  </style>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li style="float:right"><a class="active" href="#about">About</a></li>
    </ul>
        <section class="content">
          <header>
            {% block header %}{% endblock %}
                </header>
                {% for message in get_flashed_messages() %}
                  <div class="flash">{{ message }}</div>
                {% endfor %}
    </section>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2010 by <a href="/">FreeFlow</a>.
      {% endblock %}
    </div>
  </body>
</html>
